@import "../../Styles/common.scss";

.SignUp {
  .pageHeader {
    padding: 0 91px;
    margin: 0 219px;

    .pageTitle {
      padding-top: 80px;
      padding-bottom: 50px;
      font-family: "PT serif", serif;
      font-size: 48px;
      color: #8f5b59;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .userInfoWrapper {
    padding: 0 91px;
    margin: 0 219px;
    .formBox {
      border-top: 2px solid #a36d6a;
      padding-bottom: 60px;
      .formTitleBox {
        margin-top: 60px;
        margin-bottom: 30px;
        .formTitle {
          color: #8f5b59;
          font-size: 1.17em;
          font-family: "Assistant", "Noto Sans KR", sans-serif;
          font-weight: bold;
        }
      }
    }
    .formBox {
      border-top: 2px solid #a36d6a;
      padding-bottom: 60px;
      .formTitleBox {
        display: flex;
        margin-top: 60px;
        margin-bottom: 30px;
        color: #8f5b59;
        .birthdayDescription {
          margin-left: 15px;
          color: #8f5b59;
          font-size: 14px;
          font-weight: 400;
        }
      }
      .phoneNumberBox {
        width: 100%;
        padding: 7px 0;
        display: flex;
        .phoneNumberLabel {
          display: flex;
          width: 160px;
          height: 46px;
          .requiredMark {
            margin-left: 5px;
            color: #a36d6a;
            font-weight: 500;
            line-height: 46px;
            font-size: 14px;
          }
          .phoneLabel {
            color: #a36d6a;
            font-weight: 700;
            line-height: 46px;
            font-size: 14px;
            font-family: "Assistant", "Noto Sans KR", sans-serif;
          }
        }
        .mobileNumber {
          width: 90px;
          height: 46px;
          border: 1px solid #c8a7a6;
          outline: none;
          padding: 15px;
          margin-right: 5px;
        }
        .hypen {
          color: #a36d69;
          font-weight: 300;
          padding-top: 17px;
        }
        .phone2 {
          width: 90px;
          height: 46px;
          margin: 0 5px;
          border: 1px solid #c8a7a6;
          outline: none;
          padding: 12px 16px;
        }
        .phone3 {
          width: 90px;
          height: 46px;
          margin: 0 5px;
          border: 1px solid #c8a7a6;
          outline: none;
          padding: 12px 16px;
        }
      }

      .birthdayBox {
        display: flex;
        width: 100%;
        padding: 7px 0;

        .birthdayLabel {
          width: 160px;
          height: 46px;

          .birthday {
            color: #8f5b59;
            font-size: 14px;
            font-weight: 700;
            line-height: 46px;
          }
        }
        .birthdayInputBox {
          input {
            margin: 0 4px;
            padding: 12px 16px;
            outline: none;
          }

          .YYYY {
            width: 120px;
            height: 46px;
            border: 1px solid #c8a7a6;
          }
          .MMDD {
            width: 80px;
            height: 46px;
            border: 1px solid #c8a7a6;
          }
        }
      }
    }
    .checkAll {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .checkBox {
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }

      .agree {
        font-size: 17px;
        color: #a36d6a;
        font-weight: 700;
      }
    }
    .signUpButtonBox {
      display: flex;
      justify-content: flex-end;

      .signUpButton {
        width: 400px;
        height: 50px;
        border: 2px solid #a36d6a;
        color: #a36d6a;
        font-size: 17px;
        font-weight: 900;
        margin-top: 60px;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        &:hover {
          animation: onHover 0.25s ease-out;
          animation-fill-mode: both;
        }
      }
    }
  }
}

@keyframes onHover {
  from {
    background-color: rgb(255, 255, 255);
    color: rgb(163, 109, 106);
  }

  to {
    background-color: rgb(163, 109, 106);
    color: rgb(255, 255, 255);
  }
}

input[type="checkbox"] + label {
  background-color: #ebe1e1;
  width: 18px;
  height: 18px;
}
input[type="checkbox"]:checked + label:before {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("http://hince.co.kr/assets/images/hince-option-checker.png");
  background-size: 22px 22px;
  background-position: -2px -2px;
  content: "";
  border-color: #a36d6a;
  background-color: #a36d6a;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 18px;
  color: white;
}
