@import "../../Styles/common.scss";

.Store {
  .pageHeader {
    padding: 0 300px;
    .pageTitle {
      padding: 200px 0 50px;
      color: #8f5b59;
      font-size: 48px;
      letter-spacing: 1px;
      font-weight: bold;
      font-family: $pt;
    }
  }
  .pageCover {
    background-image: url("http://hince.co.kr/images/location/location-main.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 0;
    padding-top: 50%;
  }
  .storeBox {
    padding: 0 300px;
    margin-bottom: 120px;
    .descriptionContainer {
      padding: 80px 0;
      .descriptionTitle {
        font-weight: bold;
        line-height: 1.8;
        color: #8f5b59;
        font-size: 20px;
        margin-bottom: 30px;
      }
      .description {
        font-size: 16px;
        font-weight: 400;
        max-width: 700px;
        line-height: 1.8;
      }
    }
    .StoreWrapper {
      display: flex;
      .textSideBox {
        padding: 65px;
        .textSideTitle {
          color: #8f5b59;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;
          font-weight: bold;
        }
        .textSide {
          font-size: 16px;
          line-height: 1.8;
          color: #333;
          margin-top: 30px;
        }
      }
    }
    .imageWrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 100px;
      img {
        width: 845px;
        height: 528px;
      }
      .imageSideBox {
        padding: 65px 0 65px;
        width: 325px;
        height: 185px;
        .imageSideTitle {
          color: #8f5b59;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;
          font-weight: bold;
        }
        .imageSide {
          font-size: 16px;
          margin-top: 10px;
          line-height: 1.8;
        }
      }
    }
  }
  .storeSection {
    margin: 0 300px;
    .StoreBox {
      color: #8f5b59;
      font-size: 48px;
      font-family: $pt;
      letter-spacing: 1px;
      font-weight: bold;
    }
    .storeSearchBarBox {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .searchIcon {
        display: inline-block;
        background-size: 350px 50px;
        background-position-x: -50px;
        width: 25px;
        height: 25px;
        background-image: url("http://hince.co.kr/assets/images/hince-icon-sprite-185484.png");
      }
      .searchBar {
        border: none;
        outline: none;
        font-size: 14px;
        padding: 10px;
        width: 290px;
        margin: 20px 0;
      }
    }
  }
}
