.formBox {
  border-top: 2px solid #a36d6a;
  padding-bottom: 60px;
  .termsBox {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 30px;
    .formTitle {
      color: #8f5b59;
      font-size: 1.17em;
      font-family: "Assistant", "Noto Sans KR", sans-serif;
      font-weight: bold;
    }
    .checkBox {
      display: flex;
      align-items: center;
      .agreeBox {
        display: flex;
        align-items: center;
      }
      .box {
        margin-right: 8px;
      }
      .agree {
        color: #8f5b59;
        font-size: 13px;
        font-weight: 700;
      }
    }
  }

  .agreementContent {
    color: #333333;
    background-color: #faf6f6;
    width: 100%;
    height: 200px;
    padding: 35px 50px;
    overflow-y: scroll;
    line-height: 1.8;
    font-size: 12px;
  }

  .agreeAllBox {
    margin-top: 30px;
    .agreeAll {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      input {
        margin-right: 8px;
      }
      .check {
        color: #a36d6a;
        font-size: 17px;
        font-weight: 700;
      }
    }
  }
}
