@import '../../Styles/common.scss';

.List{
    .ProductListContainer{
        @include center;

        ul{
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin:0 13%;
            padding: 0;
        }
    }
    .ProductListBottom{
        margin: 30px 0;
    }
}