.ProductNav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a36d6a;
    margin: 120px 0 20px 0px;
    height: 140px;
    font-size: 14px;

    a{
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
    }
    img{
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
}