@import '../../Styles/common.scss';

.ProductFilter{
    .ProductFilterName{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 170px;
        padding:0px 13%;
        margin: 30px 0px 0px 0px;
        font-size: 48px;
        font-family: $pt;
        font-weight: bolder;
        color:#8f5b59;

        span{
            cursor: pointer;
            width: 32px;
            height: 32px;
            background-image: url("https://hince.co.kr/assets/images/hince-icon-sprite-185484.png");
            background-size: 490px 70px;
            background-position-x: -385px;    
        }
    }
    .ProductFilterPallete{
        display: flex;
        width: 100%;
        height: 160px;
        padding: 0 13%;
        font-size: 14px;
        color: $brick;
        background-color: #F1E9E9;

        section:nth-child(1){
            margin: auto 0 auto;
            div{
                margin-top: 15px;

                ul{
                    display: flex;
                    flex-wrap: nowrap;

                    li{
                        @include center;
                        width: 35px;
                        height: 35px;
                        border: 0.5px solid #c8a7a6;
                        margin-right: 6px;
                        background-color: white;

                        button{
                            width: 18px;
                            height: 18px;
                            padding:1px;
                            border: none;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
        section:nth-child(2){
            margin: auto 50px;
        }

        .PalleteSearchBox{
            display: flex;
            flex-direction: column;

            div{
                margin-top: 15px;

                input{
                    width: 140px;
                    height: 38px;
                    margin-right: 10px;
                    padding: 0;
                    border: 1px solid $brick;
                }
                
                button{
                    width: 67px;
                    height: 40px;
                    border: 1px solid $brick;
                    background-color: $brick;
                    color: white;
                }
            }
        }

    }
    a{
        margin: 20px;
    }
    .hidden{
        display: none;
    }
    .productFilteredName{
        padding: 0px 13%;
        height: 90px;
        background-color: #F1E9E9;

        div{
            height: 100%;
            display: flex;
            align-items: center;
            border-top: 1px solid #c8a7a6;

            ul{
                display: flex;
            }
            .FilteredWordReset{
                display: flex;
                align-items: center;;
                height: 30px;
                margin: 0 5px 10px 0;
                padding: 0 10px;
                border: 1px solid #c8a7a6;
                background-color: #fff;
                color: $brick;
                font-family: 'Assistant', 'Noto Sans KR', sans-serif;
                font-size: 12px;
            }
        }
        .FilterWord{
            @include center;
            height: 30px;
            margin: 0 5px 10px 0;
            padding: 0 10px;
            border: 1px solid #c8a7a6;
            background-color: #fff;
            font-size: 12px;
            color: $brick;
            font-family: 'Assistant', 'Noto Sans KR', sans-serif;
        }
    }
}