@import "../Styles/common.scss";
%hoverShared {
  position: relative;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
  margin: 0 auto;
  padding: 0;
}

%hoverBeforeAfter {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0px;
  height: 17px;
  margin: 5px 0 0;
  transition: all 0.1s ease-in-out;
  transition-duration: 300ms;
  opacity: 0;
  background-color: rgba(217, 188, 186, 0.25);
}

%navContainerShared {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  padding: 0 4.75% 0;
}

.Nav {
  @extend %navContainerShared;
  background-color: transparent;

  .siteLogo {
    a {
      background-image: url("http://hince.co.kr/assets/images/hince-logo-sprite.png");
      background-size: 98px 70px;
      background-position-y: 0px;
      display: block;
      width: 98px;
      height: 35px;
      margin-top: 0px;
    }
  }

  .siteMenu {
    ul {
      display: flex;
      position: relative;

      li {
        @include list;
        padding: 7px 30px;

        .hover {
          color: $brick;
          @extend %hover;

          &:before,
          &:after {
            @extend %hoverBeforeAfter;
          }

          &.hover-1 {
            &:before,
            &:after {
              left: -6px;
            }
          }
        }

        &:hover {
          cursor: pointer;

          .hover {
            &:before,
            &:after {
              width: 130%;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .siteExtra {
    ul {
      display: flex;

      li {
        @include list;
        background-image: url("http://hince.co.kr/assets/images/hince-icon-sprite-185484.png");
        background-size: 490px 70px;
        width: 35px;
        height: 35px;
        margin: 8px;
        padding: 7px 0 7px 10px;
        cursor: pointer;

        a {
          width: 35px;
          height: 35px;
        }

        &:nth-child(1) {
          background-position-x: -35px;
        }

        &:nth-child(2) {
          background-position-x: -70px;
        }

        &:nth-child(3) {
          background-position-x: -105px;
        }
      }
    }
  }
}

.NavBright {
  @extend %navContainerShared;
  background-color: transparent;

  .siteLogo {
    a {
      background-image: url("http://hince.co.kr/assets/images/hince-logo-sprite.png");
      background-size: 98px 70px;
      background-position-y: -35px;
      display: block;
      width: 98px;
      height: 35px;
      margin-top: 0px;
    }
  }

  .siteMenu {
    ul {
      display: flex;
      position: relative;

      li {
        @include list;
        padding: 7px 30px;

        .hover {
          color: $white;
          @extend %hoverShared;

          &:before,
          &:after {
            @extend %hoverBeforeAfter;
          }

          &.hover-1 {
            &:before,
            &:after {
              left: -6px;
            }
          }
        }

        &:hover {
          cursor: pointer;

          .hover {
            &:before,
            &:after {
              width: 130%;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .siteExtra {
    ul {
      display: flex;

      li {
        @include list;
        background-image: url("http://hince.co.kr/assets/images/hince-icon-sprite-185484.png");
        background-size: 490px 70px;
        width: 35px;
        height: 35px;
        margin: 8px;
        padding: 7px 0 7px 10px;
        cursor: pointer;

        &:nth-child(1) {
          background-position: -35px -35px;
        }

        &:nth-child(2) {
          background-position: -70px -35px;
        }

        &:nth-child(3) {
          background-position: -105px -35px;
        }
      }
    }
  }
}

.NavReduced {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 72px;
  margin: 0 auto;
  padding: 10px 4.75% 0;
  background-color: rgba(255, 255, 255, 0.92);

  .siteLogo {
    a {
      background-image: url("http://hince.co.kr/assets/images/hince-logo-sprite.png");
      background-size: 77px 56px;
      background-position-y: 0px;
      display: block;
      width: 77px;
      height: 28px;
      margin-top: 3px;
    }
  }

  .siteMenu {
    ul {
      display: flex;
      position: relative;

      li {
        @include list;
        padding: 7px 30px;

        .hover {
          color: $brick;
          @extend %hoverShared;

          &:before,
          &:after {
            @extend %hoverBeforeAfter;
          }

          &.hover-1 {
            &:before,
            &:after {
              left: -6px;
            }
          }
        }

        &:hover {
          cursor: pointer;

          .hover {
            &:before,
            &:after {
              width: 130%;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .siteExtra {
    ul {
      display: flex;

      li {
        @include list;
        background-image: url("http://hince.co.kr/assets/images/hince-icon-sprite-185484.png");
        background-size: 490px 70px;
        width: 35px;
        height: 35px;
        margin: 8px;
        padding: 7px 0 7px 10px;
        cursor: pointer;

        a {
          width: 35px;
          height: 35px;
        }

        &:nth-child(1) {
          background-position-x: -35px;
        }

        &:nth-child(2) {
          background-position-x: -70px;
        }

        &:nth-child(3) {
          background-position-x: -105px;
        }
      }
    }
  }
}
