@import "../../Styles/common.scss";

.Search {
  @include center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 10000;

  .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 750px;
    height: 60%;
    padding: 1rem;
    background: white;
    height: auto;

    .searchInput {
      display: flex;
      flex-direction: column;
      margin: auto 0;
      padding: 0 14%;
      min-width: calc(1300px + 9.5%);
    }

    span {
      margin-bottom: 3%;
      font-size: 60px;
      font-family: $pt;
      font-weight: 700;
      color: #a36d6a;
    }

    button {
      position: absolute;
      top: 10%;
      width: 40px;
      height: 40px;
      right: 4.75%;
      border: black;
      background-image: url("//hince.co.kr/assets/images/hince-icon-sprite-185484.png");
      background-size: 490px 70px;
      background-position-x: -350px;
      background-color: white;
      &:focus {
        outline: none;
      }
    }

    .inputWrapper {
      input {
        width: 100%;
        padding: 2.5% 2%;
        border: none;
        border-bottom: 2px solid #a36d6a;
        font-size: 33px;
        &:focus {
          outline: none;
        }
      }

      .searchImg {
        top: 53%;
        position: absolute;
        width: 70px;
        height: 70px;
        right: 15%;
        background-image: url("//hince.co.kr/assets/images/hince-search-button.png");
        background-size: 70px 70px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}
