.CountLike {
  display: flex;
  .buttonWrapper {
    button {
      width: 50px;
      height: 23px;
      margin-right: 3px;
      border: 1px solid #dadada;
      background-color: white;
      color: #7b7b7b;
      font-size: 12px;
      cursor: pointer;
    }
  }
  .scoreWrapper {
    margin: 0 8px 0 7px;
    position: relative;
    span {
      border: 1px solid #5e5e5e;
      background-color: #5e5e5e;
      display: block;
      text-align: center;
      padding-top: 6px;
      width: 31px;
      height: 23px;
      color: white;
      font-size: 12px;
    }
    .arrow {
      position: absolute;
      top: 2px;
      left: -5px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #5e5e5e;
    }
  }
}
