@import "../../Styles/common.scss";
.Review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  // 나중에 지우기
  padding-bottom: 100px;
  .title {
    padding: 100px 12px 30px;
    border-bottom: 2px solid #a36d6a;
    h3 {
      color: #a36d6a;
      font-size: 20px;
      font-weight: 900;
    }
  }
  header {
    font-size: 16px;
    padding-top: 44px;
    padding-bottom: 7px;
    strong {
      font-weight: bold;
      letter-spacing: -1px;
    }
  }
  ul {
    li {
      display: flex;
      border-top: 1px solid #dadada;
      padding-top: 30px;
      .reviewContentsBox {
        width: 1040px;  
        font-size: 12px;
        .ratingWrapper {
          display: flex;
          color: #a4a4a4;
          .starRating {
            .star {
              display: inline-block;
              width: 12px;
              height: 12px;
              background-image: url("https://assets6.cre.ma/p/hince-co-kr/brand_settings/00/00/00/00/01/sprite/ed77d94ad433a7fb.png");
            }
          }
          .goodRating {
            margin-left: 9px;
          }
          .scoreCount {
            margin-left: 5px;
          }
        }
        .reviewContent {
          padding-top: 10px;
          // max-height: 57px;
          line-height: 19px;
        }
        .reviewFoot {
          display: flex;
          align-items: center;
          padding: 12px 0 13px 0;
          a {
            color: #cccccc;
            font-weight: bold;
          }
          .titleDivider {
            margin: 0 9px;
          }
          .userQuestion {
            margin-right: 12px;
            color: #7b7b7b;
          }
          .buttonWrapper {
            button {
              width: 50px;
              height: 23px;
              margin-right: 3px;
              border: 1px solid #dadada;
              background-color: white;
              color: #7b7b7b;
              font-size: 12px;
              cursor: pointer;
            }
          }
          .scoreWrapper {
            margin: 0 8px 0 7px;
            position: relative;
            span {
              border: 1px solid #5e5e5e;
              background-color: #5e5e5e;
              display: block;
              text-align: center;
              padding-top: 6px;
              width: 31px;
              height: 23px;
              color: white;
              font-size: 12px;
            }
            .arrow {
              position: absolute;
              top: 2px;
              left: -5px;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-right: 10px solid #5e5e5e;
            }
          }
        }
        .hiddenInput {
          max-width: 800px;
          display: block;
          margin-top: 7px;
          margin-right: 30px;
          padding: 10px 15px;
          border: 1px solid #e2e2e2;
          .inputWrapper {
            position: relative;
            height: 30px;
            border: 1px solid #e2e2e2;
            input {
              border: none;
              width: 715px;
              font-size: 13px;
              height: 28px;
            }
            button {
              position: absolute;
              border: 1px solid #dadada;
              width: 50px;
              height: 25px;
              margin-top: 2px;
              background-color: white;
            }
          }
        }
      }
      .writerBox {
        font-size: 12px;
        line-height: 18px;
        .writer {
          color: #a8a8a8;
        }
        .name {
          font-weight: bold;
        }
      }
    }
  }
}
