.reviewFoot {
    display: flex;
    align-items: center;
    padding: 12px 0 13px 0;
    a {
      color: #cccccc;
      font-weight: bold;
    }
    .titleDivider {
      margin: 0 9px;
    }
    .userQuestion {
      margin-right: 12px;
      color: #7b7b7b;
    }
    .buttonWrapper {
      button {
        width: 50px;
        height: 23px;
        margin-right: 3px;
        border: 1px solid #dadada;
        background-color: white;
        color: #7b7b7b;
        font-size: 12px;
        cursor: pointer;
      }
    }
    .scoreWrapper {
      margin: 0 8px 0 7px;
      position: relative;
      span {
        border: 1px solid #5e5e5e;
        background-color: #5e5e5e;
        display: block;
        text-align: center;
        padding-top: 6px;
        width: 31px;
        height: 23px;
        color: white;
        font-size: 12px;
      }
      .arrow {
        position: absolute;
        top: 2px;
        left: -5px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #5e5e5e;
      }
    }
  }
  .hiddenInput {
    max-width: 800px;
    display: block;
    margin-top: 7px;
    margin-right: 30px;
    padding: 10px 15px;
    border: 1px solid #e2e2e2;
    .inputWrapper {
      position: relative;
      height: 30px;
      border: 1px solid #e2e2e2;
      input {
        border: none;
        width: 715px;
        font-size: 13px;
        height: 28px;
      }
      button {
        position: absolute;
        border: 1px solid #dadada;
        width: 50px;
        height: 25px;
        margin-top: 2px;
        background-color: white;
        color: #7b7b7b;
      }
    }
  }
  ul {
    margin-top: 7px;
    li {
      display: flex;
      margin-bottom: 8px;
      .commentBox {
        display: flex;
        font-size: 13px;
        .commentWriter {
          width: 60px;
          font-weight: bold;
        }
      }
      .commentButtonBox {
        opacity: 0;
        transition: all 0.5s;
        font-size: 12px;
        &:hover {opacity: 1;}
        .modify {
          margin-right: 3px;
          border: 1px solid #dadada;
          background-color: white;
          color: #7b7b7b;
        }
        .delete {
          border: 1px solid #dadada;
          background-color: white;
          color: #7b7b7b;
        }
      }
    }
  }